/* background-origin, background-position, background-position-x, background-position-y,  */

#container1 {
  width: 550px;
  height: 800px;
  border: 15px dotted black;
  padding: 10px;
  background-image: url("https://images.unsplash.com/photo-1710170601723-54d0420b8773?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHx8");
  background-repeat: no-repeat;
  background-origin: content-box;
  /*
    values: border-box, content-box, padding-box

    It determines the positioning area for the background image of an element. It specifies 
    where the background image should originate within the element's box model, relative to 
    the padding, border, or content box. This property has no effect if background-attachment 
    is "fixed".

    padding-box:	Default value. The background image starts from the upper left corner of the padding edge	
    border-box:	The background image starts from the upper left corner of the border	
    content-box:	The background image starts from the upper left corner of the content

  */

  background-position: left;
  /*  
    values: top, right, bottom, left, center, <length> values, <percentage> values
    The background-position property sets the starting position of a background image. By default, 
    a background-image is placed at the top-left corner of an element, and repeated both vertically 
    and horizontally.
    A <position>. A position defines an x/y coordinate, to place an item relative to the edges of an 
    element's box. It can be defined using one to four values.

    (A) Single value syntax:
      background-position: top;
      - The keyword value center, which centers the image.
      - One of the keyword values top, left, bottom, or right. This specifies an edge against which to 
      place the item. The other dimension is then set to 50%.
      - A <length> or <percentage>. This specifies the X coordinate relative to the left edge, with 
      the Y coordinate set to 50%.

    (B) 2-value syntax: One value defines X and the other defines Y.
      - One of the keyword values top, left, bottom, or right. If left or right is given, then this 
      defines X and the other given value defines Y. If top or bottom is given, then this defines Y 
      and the other value defines X.
      - A <length> or <percentage>. If the other value is left or right, then this value defines Y, 
      relative to the top edge. If the other value is top or bottom, then this value defines X, relative 
      to the left edge. If both values are <length> or <percentage> values, then the first defines X and 
      the second Y.
      - top top, top bottom, bottom bottom, bottom top, left left, left right, right right, right left are 
      not valid.
      - The default value is left top or 0% 0%.

    3-value syntax and 4-value syntax are also possible, if required refer MDN.


    background-position-x: It sets the position of a background image on the x-axis.
    values: left, right, center, <length> values, <percentage> values

    background-position-y: It sets the position of a background image on the y-axis.
    values: top, bottom, center, <length> values, <percentage> values

  */
}
